.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px 20px;

    .logo{
        margin-right: auto;
    }

    .pink{
        color: #C1517D;
    }

    .nav__list{
        display: flex;
        list-style-type:none;
        margin-right: auto;
    }
    .nav__item{
        display: flex;
      
    }

   a{
       text-decoration: none;
       padding: 8px 16px;
       color: #87758A;
   }

  .nav__button{
      display: flex;
      padding: 8px 16px;
      
  }

  .login{
        margin-right: 30px;
        border-style: none;
        background: transparent;
        color: #87758A;
  }

  .en{
      border-style: none;
      background: transparent;
      color: #87758A;
  }
}



